body *{
    font-family: 'Roboto', serif;
}

h1 {
    font-weight: 900;
    text-align: center;
}

h2 {
    border-left-style: solid;
    border-width: medium;
    padding: 10px;
}

body {
    background-color: #154F8A;
}

.page {
    width: 900px;
    background-color: white;
    margin: auto;
    padding: 50px;
    padding-top: 35px;
}

.vis-container {
    width: 100%;
}

.description h2,
h1 {
    margin-top: 0px;
}

.description-right {
    padding-left: 10px;
}

.description-left {
    padding-right: 10px;
}

.pure-g {
    margin-bottom: 10px;
}

.small-font {
    font-size: 14px;
}
